# Data folders
grid_corpus/
grid_corpus_processed/
preprocessed_data/

# Virtual Environment
venv/
.venv/
env/

# Python Cache & System Files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.DS_Store
Thumbs.db
